<h1>
    Hi {{name}}</h1>
<p>Email: {{email}}</p>
<p>Address: {{address.street +' ' + address.city +', ' + address.state +' '+ address.zipcode}}</p>
<p>Hobbies: {{hobbies}}</p>
<div *ngIf="showHobbies">
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">{{hobby}} | <button (click)="deleteHobby(i)">Delete</button></li>
    </ul>
</div>
<button (click)="toggleHobbies()">{{ showHobbies ? 'Hide' : 'Show' }} Hobbies</button>
<br />
<form (submit)="addHobby(hobby.value)">
    <label>Add Hobby:</label>
    <input type="text" #hobby />
</form>
<hr />
<h4>Edit User</h4>
<form>
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="name" /><br />
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="email" /><br />
    <label>Street:</label>
    <input type="text" name="address.street" [(ngModel)]="address.street" /><br />
    <label>City:</label>
    <input type="text" name="address.city" [(ngModel)]="address.city" /><br />
    <label>State:</label>
    <input type="text" name="address.state" [(ngModel)]="address.state" /><br />
    <label>Zip Code:</label>
    <input type="number" name="address.zipcode" [(ngModel)]="address.zipcode" maxlength="5" /><br />
</form>
<hr />
<h3>Posts</h3>
<div *ngFor="let post of posts">
    <h4 style="color:blue">{{post.title}}</h4>
    <p>{{post.body}}</p>
</div>
